.svn/*
Program/web/.settings/*
Program/web/build/*
Program/web/.classpath
Program/web/.project
Tools/Click-IDE/*
fetch_menu/.project
fetch_menu/.settings/.jsdtscope
fetch_menu/.settings/org.eclipse.wst.jsdt.ui.superType.container
fetch_menu/.settings/org.eclipse.wst.jsdt.ui.superType.name
Program/web/WebContent/WEB-INF/data/survey_valid_code_data.csv
Program/web/WebContent/WEB-INF/data/survey_valid_code_data.csv
plugins/dumbbot.py
