<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!-- hibernate properties here-->
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/boom</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        
        <!-- mapping resources here-->
        <mapping resource="dev/boom/mapping/UserInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/MilkTeaUserInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/ShopInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/DishInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/ShopOptionInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/MenuInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/OrderInfo.hbm.xml"></mapping>
        
        <mapping resource="dev/boom/mapping/NihongoOwningInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/NihongoPetInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/NihongoProgressInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/NihongoUserInfo.hbm.xml"></mapping>
        <mapping resource="dev/boom/mapping/NihongoWordInfo.hbm.xml"></mapping>
        
    </session-factory>
</hibernate-configuration>