.rating{
	position:relative;
}
.stars {
    display: inline-block;
}
.stars span.star {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url('/friday/img/milktea/icon_stars.png') no-repeat -5px -3px;
    margin-left: 2px;
    cursor: pointer;
}
.stars span.star.full {
    background-position: -5px -42px;
}
.stars span.star.half {
    background-position: -5px -21px;
}
.follow-item {
	cursor:pointer;
}
.follow-item:hover {
	text-decoration:underline;
}
.order-highlight {
    -webkit-animation-name: highlight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: highlight;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: highlight;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes highlight {  
    0% { color:#F39C12; }
    25% { color:#00bc8c; }
    50% { color:#d6ea17; }
    75% { color:#E74C3C; }
    100% { color:#F39C12; }
}

@-webkit-keyframes highlight {  
    0% { color:#F39C12; }
    25% { color:#00bc8c; }
    50% { color:#d6ea17; }
    75% { color:#E74C3C; }
    100% { color:#F39C12; }
}

@keyframes highlight {  
    0% { color:#F39C12; }
    25% { color:#00bc8c; }
    50% { color:#d6ea17; }
    75% { color:#E74C3C; }
    100% { color:#F39C12; }
}