.rating{
	position:relative;
}
.stars {
    display: inline-block;
}
.stars span.star {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url('/friday/img/milktea/icon_stars.png') no-repeat -5px -3px;
    margin-left: 2px;
    cursor: pointer;
}
.stars span.star.full {
    background-position: -5px -42px;
}
.stars span.star.half {
    background-position: -5px -21px;
}
