body {
	background-color: black;
}

#cannon-menu {
	margin: auto;
	width: 600px;
	height: 200px;
	background-image: url(../../../img/game/cannon/menu.png);
	background-size: 600px;
	background-repeat: no-repeat;
}

.cannon-content{
	width:305px;
	margin: auto;
}

#newGame_new_game {

	border: 3px solid #228DFF;
	border-radius: 7px;
	height: 100px;
	background-image: url(../../../img/game/cannon/newgame1.png);
	background-size: 300px;
	background-repeat: no-repeat;
	background-color: black;
	width: 300px;
	margin: auto;
}


#newGame_new_game:hover {
	background-image: url(../../../img/game/cannon/newgame2.png);
	outline: none;
	border-color: ##228DFF;
	box-shadow: 0 0 20px ##228DFF
}

#logout_logout {
	border: 3px solid #228DFF;
	border-radius: 7px;
	margin: auto;
	width: 300px;
	height: 100px;
	background-image: url(../../../img/game/cannon/logout1.png);
	background-size: 300px;
	width: 300px;
	margin: auto;
}

#logout_logout:hover {
	background-image: url(../../../img/game/cannon/logout2.png);
	outline: none;
	border-color: #228DFF;
	box-shadow: 0 0 20px #228DFF
}

#continueGame_continue_game {
	border: 3px solid #228DFF;
	border-radius: 7px;
	margin: auto;
	width: 300px;
	height: 100px;
	background-image: url(../../../img/game/cannon/continue2.png);
	background-size: 300px;
	background-repeat: no-repeat;
	background-color: black;
	width: 300px;
	margin: auto;
}

#continueGame_continue_game:hover {
	background-image: url(../../../img/game/cannon/continue1.png);
	outline: none;
	border-color: #228DFF;
	box-shadow: 0 0 20px #228DFF
}